html {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

